client/node_modules
client/package-lock.json
client/.env
client/certs
client/dist
server/node_modules
server/package-lock.json
server/.env
server/certs
server/wof-server.json
database/node_modules
database/package-lock.json