name: Deploy to Amazon EC2 (fs-wofadmin-com)

on:
  workflow_dispatch:
    push:
      branches: [ main ]

jobs:
  # upload-to-ec2:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout wof-fullstack Repo in GitHub Workspace
  #       uses: actions/checkout@v4
  #       with: 
  #         path: fs

  #     - name: Print wof-fullstack Secrets
  #       run: |
  #         echo "${{ secrets.AWS_OPENSSH_PEM }}"
  #         echo ${{ vars.AWS_SCP }}

  #     - name: Upload wof-fullstack to dist folder on AWS EC2 server
  #       env:
  #         SSH_AUTH_SOCK: /tmp/ssh_agent.sock
  #       run: |
  #         ssh-agent -a $SSH_AUTH_SOCK > /dev/null
  #         ssh-add - <<< "${{ secrets.AWS_OPENSSH_PEM }}"
  #         scp -o StrictHostKeyChecking=no -r fs/client ${{ secrets.AWS_USER }}@${{ vars.AWS_EC2_DNS }}:${{ vars.AWS_EC2_BUILD_PATH }}

  build-in-ec2:
    runs-on: ubuntu-latest
    needs: upload-to-ec2
    steps:
      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.AWS_OPENSSH_PEM }}" > ~/.ssh/fs.wofadmin.com.key
          chmod 600 ~/.ssh/fs.wofadmin.com.key
          touch ~/.ssh/config
          echo "Host fs.wofadmin.com
          HostName ${{ vars.AWS_EC2_DNS }}
          User ${{ secrets.AWS_USER }}
          IdentityFile ~/.ssh/fs.wofadmin.com.key
          StrictHostKeyChecking no
          " > ~/.ssh/config
          cat ~/.ssh/config
      
      - name: Checkout wof-fullstack Repo in the Workspace
        uses: actions/checkout@v4
        with:
          path: fs

      - name: NVM Install
        run: | 
          cd fs/client
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
          source ~/.bash_profile
          nvm install 21.2.0
          nvm use 21.2.0
          npm install
          npm run build

      # - name: NPM Install Dependencies
      #   run: ssh fs.wofadmin.com 'cd ${{ vars.AWS_EC2_BUILD_PATH }} && npm install'

      # - name: NPM Build fs.wofadmin.com Project
      #   run: ssh fs.wofadmin.com 'cd ${{ vars.AWS_EC2_BUILD_PATH }} && ls -Fsal'

        