name: Deploy to Amazon EC2 (fs-wofadmin-com)

on:
  workflow_dispatch:
    push:
      branches: [ main ]

jobs:
  build-in-ec2:
    runs-on: ubuntu-latest
    steps:
      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.AWS_OPENSSH_PEM }}" > ~/.ssh/fs.wofadmin.com.key
          chmod 600 ~/.ssh/fs.wofadmin.com.key
          touch ~/.ssh/config
          echo "Host fs.wofadmin.com
          HostName ${{ vars.AWS_EC2_DNS }}
          User ${{ secrets.AWS_USER }}
          IdentityFile ~/.ssh/fs.wofadmin.com.key
          StrictHostKeyChecking no
          " > ~/.ssh/config
          cat ~/.ssh/config

      - name: Checkout wof-fullstack Repo in the Workspace
        uses: actions/checkout@v4
        with:
          path: fs

      - name: Initialize Environment File
        run: |
          echo "${{ vars.BUILD_ENVIRONMENT }}" > fs/client/.env

      - name: Install NVM to use Node21
        run: | 
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
          source ~/.bash_profile
          nvm install 21.2.0
          nvm use 21.2.0

      - name: NPM Install Dependencies
        run: |
          cd fs/client
          npm install

      - name: NPM Build Project
        run: |
          cd fs/client
          npm run build

      - name: Reset Remote HTML Folder
        run: |
          ssh fs.wofadmin.com 'sudo rm -rf ${{ vars.AWS_EC2_BUILD_PATH }}/*'
      
      - name: Upload built folder to EC2
        run: |
          cd fs/client
          scp -r dist/* fs.wofadmin.com:${{ vars.AWS_EC2_BUILD_PATH }}
        