name: Deploy to Amazon EC2 (fs-wofadmin-com)

on:
  workflow_dispatch:
    push:
      branches: [ main ]

jobs:
  upload-to-ec2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout wof-fullstack Repo in GitHub Workspace
        uses: actions/checkout@v2
        with: 
          path: fs

      - name: Print wof-fullstack Secrets
        run: |
          echo "${{ secrets.AWS_OPENSSH_PEM }}"
          echo ${{ vars.AWS_SCP }}

      - name: Upload wof-fullstack to dist folder on AWS EC2 server
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add - <<< "${{ secrets.AWS_OPENSSH_PEM }}"
          scp -o StrictHostKeyChecking=no -r fs/client ${{ vars.AWS_SCP }}

  build-in-ec2:
    needs: upload-to-ec2
    steps:
      - name: Build wof-fullstack/client Project
        run: |
          npm install