name: Deploy to Amazon EC2 (fs-wofadmin-com)

on:
  workflow_dispatch:
    push:
      branches: [ main ]

jobs:
  deploy-to-ec2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout wof-fullstack Repo in GitHub Workspace
        uses: actions/checkout@v2
        with: 
          path: fs

      - name: Print wof-fullstack Secrets
        run: |
          echo "${{ secrets.AWS_OPENSSH_PEM }}"
          echo "${{ AWS_SCP }}"

      # - name: Upload wof-fullstack to remote AWS EC2 server
      #   env:
      #     SSH_AUTH_SOCK: /tmp/ssh_agent.sock
      #   run: |
      #     ssh-agent -a $SSH_AUTH_SOCK > /dev/null
      #     ssh-add - <<< "${{ secrets.AWS_PRIVATE_KEY }}"
      #     scp -o StrictHostKeyChecking=no -r fs/client ${{ secrets.AWS_SCP_REMOTE_PATH }}